<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>e-VRE</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="css/style.css"/>
    
</head>
<body>
<div id="header">
<div class="colright">
	<img src="img/eVRE-logo_r.png"/>
	</div>
	</div>
<div class="colmask fullpage">
<div class="col1">
	<h2>Welcome to e-VRE system.</h2>
	<p >The following e-VRE services are available:
	<ul>
	<li><a href="http://v4e-lab.isti.cnr.it:8080/NodeService/">Node Service</a></li>
	<li> <a href="http://139.91.183.48:8181/EVREMetadataServices">Metadata Service</a></li>
	<li> <a href="http://www.unity-idm.eu/documentation/unity-1.9.4/manual.html#_how_to_work_">AAAI</a></li>
	</ul>
	</p>
	<p></p>
	</div>
</div>
	<div class="footer">
	
	 <hr/>
	<p> <i><a href="https://www.vre4eic.eu">VRE4EIC project</a></i></p>
	
	 </div>
	 
</body>
</html>
