<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>e-VRE: Workflow service description page</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="css/style.css"/>
    
</head>
<body>
<div class="colmask fullpage">
	<h2>Welcome to e-VRE Workflow Service (release <i th:text="${session.release}"></i>)</h2>
	<p >If you can see this page the Service has been correctly deployed and it should be possible to use the 
	Workflow Service functionalities.
	</p>
	<p>
	The <a href="swagger-ui.html#/"> Web Services documentation</a></p>
	
	
	
</div>
	<div class="footer">
	
	 <hr/>
	<p>  <i>e-VRE</i></p>
	
	 </div>
	 
</body>
</html>
